<html>
    <head>
        <title>
            <%= title%>
        </title>
    </head>

    <body>
        <h1>PlayGround</h1>

        <ul>
            <% for(let i = 1; i < 10; i++){ %>
            <li>
                <%=i %>
            </li>
            <%}%>
        </ul>

        <% if(true) { %>
            <h1>
                It's true!
            </h1>
        <%} else {  %>
            <h2>
                It's false!
            </h2>
        <% } %>
    </body>
</html>